* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 1rem;
    background-color: #092244;
    color: white;
    justify-items: center;
    align-items: center;
    display: flex;
}

.buttonLogo,
.buttonLogin {
    padding: 0.2rem;
    display: block;
    color: white;
    width: 10rem;
    text-align: center;
}

button {
    background-color: #092244;
    border: none;
}

.home {
    font-size: 1.2rem;
}

.loginUsuario {
    font-size: 1.5rem;
}

.home,
.loginUsuario {
    color: #ffff;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.Logo {
    height: 5rem;
    width: 5rem;
}

.login {
    height: 4rem;
    width: 4rem;
}

.todomenu {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 77rem;
}

.menu {
    font-size: 1.7rem;
    text-decoration: underline;
    color: #ffff;
    font-weight: bold;
    text-align: center;
    padding-inline: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/**/

.main {
    background: #2F4B72;
}

.grupodecima,
.grupodebaixo {
    padding: 3rem;
    padding-left: 6rem;
    display: flex;
}

.grupo1,
.grupo2,
.grupo3 {
    padding: 1rem;
    display: block;
    text-align: center;
    height: 17rem;
}

.grupo4,
.grupo5,
.grupo6 {
    padding: 1rem;
    padding-inline: 5.5rem;
    display: block;
    text-align: center;
    height: 17rem;
}

.usinainfo,
.comofazer,
.faculdade,
.canais {
    display: block;
    padding: 1rem
}

.comofazer {
    width: 30rem;
}

.faculdade {
    height: 10rem;
}

.canais {
    border-radius: 50%;
}

.links {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    padding: 1rem;
}

@media (max-width: 1920px) {
    .todomenu {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 96rem;
    }

    .menu {
        padding-inline: 7rem;
    }

    .grupo1,
    .grupo2,
    .grupo3 {
        padding: 1rem;
        padding-inline: 6rem;
        height: 20rem;
    }

    .grupo4,
    .grupo5,
    .grupo6 {
        padding: 1rem;
        padding-inline: 10rem;
        display: block;
        text-align: center;
        height: 20rem;
    }
}