@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Dosis&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 1rem;
    background-color: #092244;
    color: white;
    justify-items: center;
    align-items: center;
    display: flex;
}

.buttonLogo,
.buttonLogin {
    padding: 0.2rem;
    display: block;
    color: white;
    width: 10rem;
    text-align: center;
}

button {
    background-color: #092244;
    border: none;
}

.home {
    font-size: 1.2rem;
}

.loginUsuario {
    font-size: 1.5rem;
}

.home,
.loginUsuario {
    color: #ffff;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.Logo {
    height: 5rem;
    width: 5rem;
}

.login {
    height: 4rem;
    width: 4rem;
}

.todomenu {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 77rem;
}

.menu {
    font-size: 1.7rem;
    text-decoration: underline;
    color: #ffff;
    font-weight: bold;
    text-align: center;
    padding-inline: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    background: #2F4B72;
    color: white;
    display: flex;
}

.conteudo {
    padding: 1rem;
    display: flex;
}

.imgcomponentes {
    width: 40rem;
    padding: 1rem;
    padding-left: 7rem;
}

.Imagecomponentes {
    height: 40rem;
    width: 25rem;
    border-radius: 10px;
}

.lista {
    padding-left: 5rem;
    height: 20rem;
    width: 40rem;
}

h1 {
    text-align: center;
    padding: 1rem;
    font-family: 'Bitter', serif;
}

li {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
}

.youtube {
    padding: 2rem;
    display: block;
    width: 40rem;
    height: 20rem;
    text-align: center;
}

.imagem {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2rem;
}

.Brincando {
    border-radius: 50%;
    display: block;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 2rem;
}

@media (max-width: 1920px) {
    .todomenu {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 96rem;
    }

    .menu {
        padding-inline: 7rem;
    }

    .conteudo {
        padding: 2rem;
        padding-left: 4rem;
    }

    .Imagecomponentes {
        height: 45.2rem;
        width: 30rem;
    }

    .lista {
        padding-left: 20rem;
    }

    .youtube {
        padding-top: 6rem;
        padding-left: 20rem;
    }
}